 <!-- linear-gradient New -->
<link rel="stylesheet" href="/css/linearGradient.css">

    <div class="linearGradient">
        <div class="inner-header flex" >
          <div class="container home-banner shadow-lg" id ="dynamicBackground">
        <!-- <h2 class="headerTitle">LinearGradient</h2> -->
      <div style="display: none;">
        <canvas width="1280px" height="600px"  style="background-image: linear-gradient(90deg, #ffff8f 50%, #ff9d00 50%); " id="thecanvas"></canvas>
            </div>
            <div class="d-flex justify-content-center" >
                <div class="col-md-8" >
                  <div class="linearGradientInnerContainer">
                  <h3 class="orientation text-light"> choose orientation</h3>
                  <div class="row">
                    <div class="col-sm-4 offset-sm-4 my-2">
                    <div class="btn-group btn-group-toggle text-light" id="directionBtnGroup" data-toggle="buttons">
                      <label class="btn btn-light active" title="to bottom right">
                        <input type="radio" name="directions" id="right" autocomplete="off" value="135deg">  <i class="fa fa-arrow-right"></i>
                      </label>
                      <label class="btn btn-light" title="to top right">
                        <input type="radio" name="directions" id="up" autocomplete="off" value="225deg" > <i class="fa fa-arrow-up"></i>
                      </label>
                      <label class="btn btn-light" title="to bottom left">
                        <input type="radio" name="directions" id="down" autocomplete="off" value="45deg">  <i class="fa fa-arrow-down"></i>
                      </label>
                      <label class="btn btn-light" title="to top left">
                        <input type="radio" name="directions" id="left" autocomplete="off" value="315deg">  <i class="fa fa-arrow-left"></i>
                      </label>
                    </div>
                  </div>
                </div>

                  <div class="text-white">Selected directions  <span id="selectedVal" ></span></div>
  
              <input id="bgColorOne"   type="button" class="bgStopPointOne btn btn-dark" value="rgb(54, 238, 213)" onchange="changBgColorOne(this.value)" disabled>
              <input id="bgColorTwo"  type="button" class="bgStopPointTwo btn btn-dark" value="rgb(5, 1, 110)" onchange="changBgColorTwo(this.value)" disabled>
             
                        <!-- Button to Open the Modal -->
              <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#myModal" onclick="addcopycss()">
                Get Css <i class="fa fa-css3"> </i>
              </button>
              <button type="button" class="btn btn-dark" title="Download as Image" onclick="downloadAsImage()">
               <i class="fa fa-download"></i>
              </button>
                  </div>
                </div>
            </div>
         
             <div class="row my-1"  id="content-desktop">
                <div class="col-1">
                <button class="goBackward btn btn-dark" onclick="goBackward()"><i class="fa fa-backward"></i></button>
                </div>
                <div class="col-4">
                  <label for="" class="text-white">Pick Color Stop 1</label> 
                  <span class="bgOneColor-picker"></span>
                </div>
                 <div class="col-2 text-white" >
                 <h6 class="gradientName"> Vision of Granduer</h6>
                </div>
                <div class="col-4">
                   <label for="" class="text-white">pick Color Stop 2</label> 
                  <span class="bgTwoColor-picker"></span>
                </div>
                <div class="col-1">
                  <button class="goForward btn btn-dark" onclick="goForward()" ><i class="fa fa-forward"></i></button>
                </div>
             </div>
             <div class="row my-4" id="content-mobile">

              <div class="col-sm-12">
                  <button class="goBackward btn btn-dark" onclick="goBackward()"><i class="fa fa-backward"></i></button>
                  <span class="px-5"></span>
                  <button class="goForward btn btn-dark" onclick="goForward()" ><i class="fa fa-forward"></i></button>
              </div>
           </div>
             
          </div>
        </div>
      </div>

      <div class="modal fade " id="myModal">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content ">
          
            <!-- Modal Header -->
            <div class="modal-header">
              <h4 class="modal-title">Css Styles</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            
            <!-- Modal body -->
            <div class="modal-body bg-dark text-light">
              <!-- <code> -->
                <div class="copycss"  tooltip="Copy to clipboard" >
                </div>
              <!-- </code> -->
            </div>
            
            <!-- Modal footer -->
            <div class="modal-footer">
              <button id="copy">
                copy
                <!-- <i class="fa fa-copy"></i> -->
            </button>
              <!-- <button type="button" class="btn btn-secondary"  data-dismiss="modal" >Close</button> -->
            </div>
            
          </div>
        </div>
      </div>
        
   
  <script src="/js/linearGradient.js"></script>
