<footer class="py-5 page-footer">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-6 footer-child copyright">
          UiGenKit © <span class="footer-year"></span> All Rights Reserved
        </div>
        <div class="col-12 col-md-6 footer-child footer-links">
          <div class="social">
            <a href="https://www.linkedin.com/in/karthik-r-a70001194" title="linkedin" target="_blank"  rel="noopener">
              <i class="fa fa-linkedin" aria-hidden="true"></i>
            </a>
            <a  href="mailto:karthikr2022@gmail.com" title="Gmail" target="_blank"  rel="noopener">
              <i class="fa fa-envelope-o" aria-hidden="true"></i>
            </a>
            <a  href="https://github.com/karthikraji2020" title="github" target="_blank"  rel="noopener">
              <i class="fa fa-github" aria-hidden="true"></i>
            </a>
            <a href="https://codepen.io/karthikraji2020" title="codepen" target="_blank"  rel="noopener">
              <i class="fa fa-codepen" aria-hidden="true"></i>
            </a>
            <a href="https://www.instagram.com/karthik__raji" title="instagram" target="_blank"  rel="noopener">
              <i class="fa fa-instagram" aria-hidden="true"></i>
            </a>
          </div>
     
          <div>
            <small>Made with <i class="fa fa-heart text-red"></i> Developed by <a href="https://www.linkedin.com/in/karthik-r-a70001194" target="_blank"  rel="noopener">Karthik Raji</a>
            </small>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <script>
    AOS.init();
  document.querySelector('.footer-year').innerText= new Date().getFullYear();
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-colorpicker/2.5.3/js/bootstrap-colorpicker.js"></script>
