<footer class="py-5 page-footer">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-6 footer-child copyright">
          UiGenaratorKit © <span class="footer-year"></span> All Rights Reserved
        </div>
        <div class="col-12 col-md-6 footer-child footer-links">
          <div class="social">
            <a href="https://www.linkedin.com/in/karthik-r-a70001194" target="_blank">
              <i class="fa fa-linkedin" aria-hidden="true"></i>
            </a>
            <a  href="mailto:karthikraji2020@gmail.com" target="_blank">
              <i class="fa fa-google" aria-hidden="true"></i>
            </a>
            <a href="https://github.com/karthikraji2020" target="_blank">
              <i class="fa fa-github" aria-hidden="true"></i>
            </a>
            <a href="https://codepen.io/karthikraji2020" target="_blank">
              <i class="fa fa-codepen" aria-hidden="true"></i>
            </a>
          </div>
     
          <div>
            <small>Made with <i class="fa fa-heart text-red"></i> by <a href="https://www.linkedin.com/in/karthik-r-a70001194" target="_blank">Karthik Raji</a>
            </small>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <script>
    AOS.init();
  document.querySelector('.footer-year').innerText= new Date().getFullYear();

  
  // $(window).on('load', function(){
  //   setTimeout(removeLoader, 2000); 
  // });
  // function removeLoader(){
  //   $( "#loadingDiv").remove(); 
  // } setTimeout(removeLoader, 2000); 
  // function removeLoader(){
  //   $( "#loadingDiv").remove(); 
  // }
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-colorpicker/2.5.3/js/bootstrap-colorpicker.js"></script>