<footer class="py-5 page-footer">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-6 footer-child copyright">
          UiGenaratorKit © 2020 All Rights Reserved
        </div>
        <div class="col-12 col-md-6 footer-child footer-links">
          <div class="social">
            <a href="https://www.linkedin.com/in/karthik-r-a70001194" target="_blank">
              <i class="fa fa-linkedin" aria-hidden="true"></i>
            </a>
            <a href="https://www.gmail.com" target="_blank">
              <i class="fa fa-google" aria-hidden="true"></i>
            </a>
            <a href="https://github.com/karthikraji2020" target="_blank">
              <i class="fa fa-github" aria-hidden="true"></i>
            </a>
            <!-- <a href="#" class="fa fa-twitter"></a>
            <a href="#" class="fa fa-facebook"></a>
            <a href="#" class="fa fa-google"></a>
            <a href="#" class="fa fa-linkedin"></a>
            <a href="#" class="fa fa-youtube"></a>
            <a href="#" class="fa fa-pinterest"></a> -->
          </div>
     
          <div>
            <small>Made with <i class="fa fa-heart text-red"></i> by <a href="https://www.linkedin.com/in/karthik-r-a70001194" target="_blank">Karthik Raji</a>
            </small>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <script>
    AOS.init();
  </script>
    <!-- <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.slim.min.js'></script> -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-colorpicker/2.5.3/js/bootstrap-colorpicker.js"></script>
  <script src="/js/script.js"></script>
  <script>
  //   $(document).ready(function(){
  //     $('[data-toggle="tooltip"]').tooltip(
  //       {container:'body', trigger: 'hover', placement:"bottom"}
  //       ); 
  // });

  </script>
 <script>
  $(document).ready(function(){
    $('.toast').toast('show');
  });
  </script>
