


<div class="home">
  <div class="header">
    <div class="inner-header flex">
        <div class="container home-banner shadow" data-aos="fade-left"  data-aos-offset="120" data-aos-easing="ease-in-sine">
          <div class="row align-items-center"  data-aos="fade-right" data-aos-offset="300" data-aos-easing="ease-in-sine">
            <div class="col-12 col-md-5 col-lg-6 order-md-2">
              <!-- Image -->
              <img src="images/home-banner-2.png" class="img-fluid mw-md-150 mw-lg-130 mb-6 mb-md-0 aos-init aos-animate" alt="home-banner" data-aos="fade-up" data-aos-delay="100">
  
            </div>
            <div class="col-12 col-md-7 col-lg-6 order-md-1 aos-init aos-animate" data-aos="fade-up">
              <!-- Heading -->
              <h2 class="display-4 text-center text-dark text-md-left">
                Welcome to  <br> <span class="text-warning">ui-GenKit</span>
                <br>
              </h2>
  
              <!-- Text -->
              <p class="lead text-center text-md-left text-muted mb-6 mb-lg-8">
                Develop  a beautiful, modern ,User Interface Fast and Effectively.
              </p>
  
              <!-- Buttons -->
              <div class="text-center text-md-left">
                <a href="/neumorphism" class="btn btn-dark shadow lift mr-1" rel="noopener">
                  Let's Go<i class="fa fa-arrow-right d-none d-md-inline ml-3"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  <div class="header-neumorphism" >       
    <div class="inner-header flex">
        <div class="container home-banner" data-aos="fade-right"
        data-aos-offset="0"
        data-aos-easing="ease-in-sine">
          <div class="row" 
          data-aos="fade-right"
          data-aos-offset="300"
          data-aos-easing="ease-in-sine">
            <div class="col-12 col-md-5 col-lg-6 order-md-1">
              <!-- Image -->
              <img src="images/neumorphism.png" class="img-fluid mw-md-150 mw-lg-130 mb-6 mb-md-0 aos-init aos-animate" alt="neumorphism-home-banner" data-aos="fade-up" data-aos-delay="100">
            </div>
            <div class="col-12 col-md-7 col-lg-6 order-md-2 aos-init aos-animate" data-aos="fade-up">
              <!-- Heading -->
              <h2 class="display-4 text-center text-dark text-md-left">
                <span class="text-warning">Bg Pattern</span><br>
                <span class="text-warning">Background </span>
              </h2>
  
              <!-- Text -->
              <p class="lead text-center text-md-left text-muted mb-6 mb-lg-8">
                Create your Own, modern Background Pattern.
              </p>
             
               <h3 class="text-center text-md-left  text-dark  mb-6 mb-lg-8"> Features</h3>
              <!-- Text -->
              <p class="text-center text-md-left  text-primary mb-6 mb-lg-8">
                <!-- Build your Own, modern  of Soft Ui . -->
              <i class="fa fa-image fa-5x" title="Download as Image"></i>
              <i class="fa fa-css3  fa-5x" title="copy as css3 Code"></i>
            </p>
          

  
              <!-- Buttons -->
              <div class="text-center text-md-left">
                <a href="/pattern" class="btn btn-dark shadow lift mr-1" rel="noopener">
                  Let's Go<i class="fa fa-arrow-right d-none d-md-inline ml-3"></i>
                </a>
              </div>
  
            </div>
           
          </div>
        </div>
      </div>
    </div>
  <div class="header-neumorphism" >       
    <div class="inner-header flex">
        <div class="container home-banner" data-aos="fade-right"
        data-aos-offset="0"
        data-aos-easing="ease-in-sine">
          <div class="row" 
          data-aos="fade-right"
          data-aos-offset="300"
          data-aos-easing="ease-in-sine">
            <div class="col-12 col-md-5 col-lg-6 order-md-1">
              <!-- Image -->
              <img src="images/neumorphism.png" class="img-fluid mw-md-150 mw-lg-130 mb-6 mb-md-0 aos-init aos-animate" alt="neumorphism-home-banner" data-aos="fade-up" data-aos-delay="100">
            </div>
            <div class="col-12 col-md-7 col-lg-6 order-md-2 aos-init aos-animate" data-aos="fade-up">
              <!-- Heading -->
              <h2 class="display-4 text-center text-dark text-md-left">
                <span class="text-warning">Neumorphism</span><br>
                <span class="text-warning">Soft-UI </span>
              </h2>
  
              <!-- Text -->
              <p class="lead text-center text-md-left text-muted mb-6 mb-lg-8">
                Build your Own, modern Neumorphism of Soft Ui .
              </p>
             
               <h3 class="text-center text-md-left  text-dark  mb-6 mb-lg-8"> Features</h3>
              <!-- Text -->
              <p class="text-center text-md-left  text-primary mb-6 mb-lg-8">
                <!-- Build your Own, modern  of Soft Ui . -->
              <i class="fa fa-css3  fa-5x" title="copy as css3 Code"></i>
            </p>
          

  
              <!-- Buttons -->
              <div class="text-center text-md-left">
                <a href="/neumorphism" class="btn btn-dark shadow lift mr-1" rel="noopener">
                  Let's Go<i class="fa fa-arrow-right d-none d-md-inline ml-3"></i>
                </a>
              </div>
  
            </div>
           
          </div>
        </div>
      </div>
    </div>

    <div class="header-colorpalette">
      <div class="inner-header flex">
          <div class="container home-banner shadow" data-aos="fade-right" data-aos-anchor="#example-anchor"
          data-aos-offset="950"
          data-aos-duration="2500">
            <div class="row"  data-aos="zoom-in-right">
              
              <div class="col-12 col-md-5 col-lg-6 order-md-1">
                <!-- Image -->
                <img src="images/home-banner-1.png" class="img-fluid mw-md-150 mw-lg-130 mb-6 mb-md-0 aos-init aos-animate" alt="colorpalette-home-banner" data-aos="fade-up" data-aos-delay="100">
              </div>
  
              <div class="col-12 col-md-7 col-lg-6 order-md-2 aos-init aos-animate" data-aos="fade-up">
                <!-- Heading -->
                <h2 class="display-4 text-center text-dark text-md-left">
                 <span class="text-warning">Color Palette</span>. <br>
                </h2>
    
                <!-- Text -->
                <p class="lead text-center text-md-left text-muted mb-6 mb-lg-8">
                  Create a Fresh UI Color Palette   on your Own.
                </p>
                <p class="lead text-center text-md-left text-muted mb-6 mb-lg-8">
                 1.Auto Generator Colorpalette<br>
                 2.Custom Generator Colorpalette
                </p>
                <h3 class="text-center text-md-left  text-dark  mb-6 mb-lg-8"> Features</h3>
                <!-- Text -->
                <p class="text-center text-md-left  text-primary mb-6 mb-lg-8">
                  <!-- Build your Own, modern  of Soft Ui . -->
                <i class="fa fa-image fa-5x" title="Download as Image"></i>
                <i class="fa fa-css3  fa-5x" title="copy as css3 Code"></i>
              </p>
            
                <!-- Buttons -->
                <div class="text-center text-md-left">
                  <a href="/colorpalette" class="btn btn-dark shadow lift mr-1" rel="noopener">
                    Let's Go<i class="fa fa-arrow-right d-none d-md-inline ml-3"></i>
                  </a>
                </div>
    
              </div>
             
             
            </div>
          </div>
        </div>
      
  
      </div>
  
    <div class="header-lineargradient">
    <div class="inner-header flex">
        <div class="container home-banner shadow" data-aos="fade-up">
          <div class="row"  data-aos="fade-right" data-aos-offset="300" data-aos-easing="ease-in-sine">
            <div class="col-12 col-md-5 col-lg-6 order-md-2">
              <!-- Image -->
              <img src="images/lineargradient.png" class="img-fluid mw-md-150 mw-lg-130 mb-6 mb-md-0 aos-init aos-animate" alt="lineargradient-home-banner" data-aos="fade-up" data-aos-delay="100">
  
            </div>
            <div class="col-12 col-md-7 col-lg-6 order-md-1 aos-init aos-animate" data-aos="fade-up">
              <!-- Heading -->
              <h2 class="display-4 text-center text-dark text-md-left">
              <span class="text-warning">Linear Gradient</span>. <br>
              </h2>
  
              <!-- Text -->
              <p class="lead text-center text-md-left text-muted mb-6 mb-lg-8">
                Build a beautiful, modern linear gradient on your Own.
              </p>
              <h3 class="text-center text-md-left  text-dark  mb-6 mb-lg-8"> Features</h3>
              <!-- Text -->
              <p class="text-center text-md-left  text-primary mb-6 mb-lg-8">
                <!-- Build your Own, modern  of Soft Ui . -->
              <i class="fa fa-image fa-5x" title="Download as Image"></i>
              <i class="fa fa-css3  fa-5x" title="copy as css3 Code"></i>
            </p>
          
              <!-- Buttons -->
              <div class="text-center text-md-left">
                <a href="/lineargradient" class="btn btn-dark shadow lift mr-1" rel="noopener">
                  Let's Go<i class="fa fa-arrow-right d-none d-md-inline ml-3"></i>
                </a>
              </div>
  
            </div>
           
          </div>
        </div>
      </div>
          <!--Waves Container-->
          <div>
            <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
                <defs>
                    <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
                </defs>
                  <g class="parallax">
                    <use xlink:href="#gentle-wave" x="48" y="3" fill="#166ff5" />
                    <use xlink:href="#gentle-wave" x="33" y="4" fill="rgba(255,255,255,0.8)" />
                    <use xlink:href="#gentle-wave" x="48" y="3" fill="#0049b6" />
                    <use xlink:href="#gentle-wave" x="38" y="5" fill="rgba(255,255,255,0.2)" />
                    <use xlink:href="#gentle-wave" x="48" y="3" fill="#0049b6" />
                </g>
            </svg>
        </div>

        <!--Waves end-->
    </div>

</div>

<button onclick="gotoTopFunction()" id="gotoTop" title="Go to top"><i class="fa fa-angle-double-up"></i></button>
<script>
  //Get the button
var mybutton = document.getElementById("gotoTop");

// When the user scrolls down 20px from the top of the document, show the button
window.onscroll = function() {scrollFunctionUpDown()};

function scrollFunctionUpDown() {
  if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
    mybutton.style.display = "block";
  } else {
    mybutton.style.display = "none";
  }
}

// When the user clicks on the button, scroll to the top of the document
function gotoTopFunction() {
  document.body.scrollTop = 0;
  document.documentElement.scrollTop = 0;
}
</script>
