


<div class="home">
  <div class="header">
    <div class="inner-header flex">
        <div class="container home-banner" data-aos="fade-left"  data-aos-offset="120" data-aos-easing="ease-in-sine">
          <div class="row align-items-center"  data-aos="fade-right" data-aos-offset="300" data-aos-easing="ease-in-sine">
            <div class="col-12 col-md-5 col-lg-6 order-md-2">
              <!-- Image -->
              <img src="images/home-banner-2.png" class="img-fluid mw-md-150 mw-lg-130 mb-6 mb-md-0 aos-init aos-animate" alt="..." data-aos="fade-up" data-aos-delay="100">
  
            </div>
            <div class="col-12 col-md-7 col-lg-6 order-md-1 aos-init aos-animate" data-aos="fade-up">
              <!-- Heading -->
              <h2 class="display-4 text-center text-dark text-md-left">
                Welcome to  <br> <span class="text-warning">ui-GenKit</span>
                <br>
              </h2>
  
              <!-- Text -->
              <p class="lead text-center text-md-left text-muted mb-6 mb-lg-8">
                Develop  a beautiful, modern ,User Interface Fast and Effectively.
              </p>
  
              <!-- Buttons -->
              <div class="text-center text-md-left">
                <a href="/" class="btn btn-dark shadow lift mr-1">
                  Let's Go<i class="fa fa-arrow-right d-none d-md-inline ml-3"></i>
                </a>
              </div>
  
            </div>
          </div>
        </div>
      </div>
    </div>
  <div class="header-neumorphism" >       
    <div class="inner-header flex">
        <div class="container home-banner"   data-aos="fade-left"
        data-aos-offset="0"
        data-aos-easing="ease-in-sine">
          <div class="row" 
          data-aos="fade-right"
          data-aos-offset="300"
          data-aos-easing="ease-in-sine">
            <div class="col-12 col-md-5 col-lg-6 order-md-1">
              <!-- Image -->
              <img src="images/neumorphsim.png" class="img-fluid mw-md-150 mw-lg-130 mb-6 mb-md-0 aos-init aos-animate" alt="..." data-aos="fade-up" data-aos-delay="100">
            </div>
            <div class="col-12 col-md-7 col-lg-6 order-md-2 aos-init aos-animate" data-aos="fade-up">
              <!-- Heading -->
              <h2 class="display-4 text-center text-dark text-md-left">
                <span class="text-warning">Neumorphism</span>.<br>
              </h2>
  
              <!-- Text -->
              <p class="lead text-center text-md-left text-muted mb-6 mb-lg-8">
                Build your Own, modern Neumorphism of Soft Ui .
              </p>
  
              <!-- Buttons -->
              <div class="text-center text-md-left">
                <a href="/neumorphism" class="btn btn-dark shadow lift mr-1">
                  Let's Go<i class="fa fa-arrow-right d-none d-md-inline ml-3"></i>
                </a>
              </div>
  
            </div>
           
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="header-lineargradient">
    <div class="inner-header flex">
        <div class="container home-banner">
          <div class="row">
              <section id="featured-destinations" class="featured-destinations bg-lightblue">
                <div class="row no-gutters">
                  <div class="col-12 col-md-6 d-flex align-items-center order-1 order-md-0">
                    <div class="p-15">
                      <h2 class="title"> F UI</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                   Sed, esse? Nostrum voluptatum eos quod dolor tempore inventore doloribus,
                    labore, incidunt voluptatibus quis repudiandae libero quae quisquam, necessitatibus 
                    vitae nobis ex.</p>
                    <button class="btn btn-dark lets-go-button"> Let's Go</button>
                      <h3>Explore Norway</h3>
                      <a class="btn bg-red text-white" target="_blank" href="https://en.wikipedia.org/wiki/%C3%85lesund" role="button">Read More →</a>
                    </div>
                  </div>
                  <div class="col-12 col-md-6 order-0 order-md-1">
                    <div class="vh-100 cover" style="background-image: url(images/home-banner-1.png);"></div>
                  </div>
                  <div class="col-12 col-md-6 order-2">
                    <div class="vh-100 cover" style="background-image: url(images/home-banner-2.png);"></div>
                  </div>
                  <div class="col-12 col-md-6 d-flex align-items-center order-3">
                    <div class="p-15">
                      <h3>Explore Germany</h3>
                      <p><strong>Neuschwanstein Castle</strong> is a 19th-century Romanesque Revival palace on a rugged hill above the village of Hohenschwangau near Füssen in southwest Bavaria, Germany. The palace was commissioned by Ludwig II of Bavaria as a retreat
                        and in honour of Richard Wagner. Ludwig paid for the palace out of his personal fortune and by means of extensive borrowing, rather than Bavarian public funds.</p>
                      <p>The castle was intended as a home for the king, until he died in 1886. It was open to the public shortly after his death. Since then more than 61 million people have visited Neuschwanstein Castle. More than 1.3 million people visit annually,
                        with as many as 6,000 per day in the summer.</p>
                      <a class="btn bg-red text-white" target="_blank" href="https://en.wikipedia.org/wiki/Neuschwanstein_Castle" role="button">Read More →</a>
                    </div>
                  </div>
                </div>
              </section>
          </div>
        </div>
      </div>
    </div> -->
    <div class="header-lineargradient">
    <div class="inner-header flex">
        <div class="container home-banner" data-aos="fade-up">
          <div class="row"  data-aos="fade-right" data-aos-offset="300" data-aos-easing="ease-in-sine">
            <div class="col-12 col-md-5 col-lg-6 order-md-2">
              <!-- Image -->
              <img src="images/lineargradient.png" class="img-fluid mw-md-150 mw-lg-130 mb-6 mb-md-0 aos-init aos-animate" alt="..." data-aos="fade-up" data-aos-delay="100">
  
            </div>
            <div class="col-12 col-md-7 col-lg-6 order-md-1 aos-init aos-animate" data-aos="fade-up">
              <!-- Heading -->
              <h2 class="display-4 text-center text-dark text-md-left">
              <span class="text-warning">Linear Gradient</span>. <br>
              </h2>
  
              <!-- Text -->
              <p class="lead text-center text-md-left text-muted mb-6 mb-lg-8">
                Build a beautiful, modern linear gradient on your Own.
              </p>
  
              <!-- Buttons -->
              <div class="text-center text-md-left">
                <a href="/lineargradient" class="btn btn-dark shadow lift mr-1">
                  Let's Go<i class="fa fa-arrow-right d-none d-md-inline ml-3"></i>
                </a>
              </div>
  
            </div>
           
          </div>
        </div>
      </div>
    </div>
    
    <div class="header-colorpalette">
    <div class="inner-header flex">
        <div class="container home-banner" data-aos="fade-right" data-aos-anchor="#example-anchor"
        data-aos-offset="950"
        data-aos-duration="2500">
          <div class="row"  data-aos="zoom-in-right">
            
            <div class="col-12 col-md-5 col-lg-6 order-md-1">
              <!-- Image -->
              <img src="images/home-banner-1.png" class="img-fluid mw-md-150 mw-lg-130 mb-6 mb-md-0 aos-init aos-animate" alt="..." data-aos="fade-up" data-aos-delay="100">
            </div>

            <div class="col-12 col-md-7 col-lg-6 order-md-2 aos-init aos-animate" data-aos="fade-up">
              <!-- Heading -->
              <h2 class="display-4 text-center text-dark text-md-left">
               <span class="text-warning">Color Palette</span>. <br>
              </h2>
  
              <!-- Text -->
              <p class="lead text-center text-md-left text-muted mb-6 mb-lg-8">
                Create a Fresh UI Color Pallete  on your Own.
              </p>
  
              <!-- Buttons -->
              <div class="text-center text-md-left">
                <a href="/colorpalette" class="btn btn-dark shadow lift mr-1">
                  Let's Go<i class="fa fa-arrow-right d-none d-md-inline ml-3"></i>
                </a>
              </div>
  
            </div>
           
           
          </div>
        </div>
      </div>
    
      <!--Waves Container-->
      <div>
          <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
              <defs>
                  <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
              </defs>
                <g class="parallax">
                <!-- <use xlink:href="#gentle-wave" x="48" y="0" fill="linear-gradient(90deg, #ff9d00 50%, #ffffff 50%);" />  -->
                  <use xlink:href="#gentle-wave" x="48" y="3" fill="#f9a826" />
                  <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.8)" />
                  <use xlink:href="#gentle-wave" x="48" y="3" fill="#f9a826" />
                  <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.2)" />
                <use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
              </g>
          </svg>
      </div>
      <!--Waves end-->
    </div>
</div>

<button onclick="gotoTopFunction()" id="gotoTop" title="Go to top"><i class="fa fa-angle-double-up"></i></button>
<script>
  //Get the button
var mybutton = document.getElementById("gotoTop");

// When the user scrolls down 20px from the top of the document, show the button
window.onscroll = function() {scrollFunctionUpDown()};

function scrollFunctionUpDown() {
  if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
    mybutton.style.display = "block";
  } else {
    mybutton.style.display = "none";
  }
}

// When the user clicks on the button, scroll to the top of the document
function gotoTopFunction() {
  document.body.scrollTop = 0;
  document.documentElement.scrollTop = 0;
}
</script>