<!-- <nav class="d-flex bg-transprant fixed-top" >
    <div class="p-3 mr-auto brandname">FUI kit</div> -->
    <!-- <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#CollapsingNavbar" aria-controls="exCollapsingNavbar2" aria-expanded="false" aria-label="Toggle navigation">
      &#9776;
    </button>
    <div class="collapse navbar-toggleable-xs" id="CollapsingNavbar">
      <ul class="nav navbar-nav pull-sm-right">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
      </ul>
    </div> -->
    <!-- <div class="navbar p-3  text-light">  <a href="/home" class="active"> Home </a></div>
    <div class="navbar p-3 text-light"> <a title="Neumorphism (or) Soft UI" href="/neumorphism">Neumorphism <span class="badge badge-pill badge-success">New</span></a> </div>
    <div class="navbar p-3 text-light"> <a title="Lineargradient" href="/lineargradient">Linear Gradient <span class="badge badge-pill badge-success">New</span></a> </div>
    <div class="navbar p-3 text-light">  <a title="Solidcolor" href="/colorpalette"> Color Palette </a></div>
  </nav> -->

 
    <nav class="navbar navbar-expand-md navbar-light  fixed-top">
        <a class="navbar-brand" href="/">UI-Gen kit <i class="fa fa-briefcase"></i></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
            </ul>
            <ul class="navbar-nav">
                  <li class="nav-item" onclick="renderLoader(400)">
                    <a  title="Home" class="nav-link" href="/home">Home</a>
                </li>
                <li class="nav-item" onclick="renderLoader(400)">
                    <a  title="Neumorphism (or) Soft UI" class="nav-link"  href="/neumorphism">Neumorphism </a>
                </li>
                <li class="nav-item" onclick="renderLoader(400)">
                    <a  title="Color Palette" class="nav-link" href="/colorpalette">Color Palette</a>
                </li>
                <li class="nav-item" onclick="renderLoader(400)">
                  <a  title="Linear Gradient" class="nav-link" href="/lineargradient">Linear Gradient </a>
              </li>
                <li class="nav-item" onclick="renderLoader(200)">
                  <a  title="About" class="nav-link" href="/about">About </a>
              </li>
            </ul>
        </div>
    </nav>
