    <nav class="navbar navbar-expand-md navbar-light  fixed-top shadow">
        <a class="navbar-brand" href="/">UI-Gen kit <i class="fa fa-briefcase"></i></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
            </ul>
            <ul class="navbar-nav">
                  <li class="nav-item" >
                    <a  title="Home" class="nav-link" href="/home">Home</a>
                </li>
                <li class="nav-item" >
                    <a  title="Background Pattern" class="nav-link"  href="/bgpattern">Bg Pattern </a>
                </li>
                <li class="nav-item" >
                    <a  title="Image Optimizer" class="nav-link"  href="/imageoptimizer">Image Optimizer </a>
                </li>
                <li class="nav-item" >
                    <a  title="Neumorphism (or) Soft UI" class="nav-link"  href="/neumorphism">Neumorphism </a>
                </li>
                <li class="nav-item" >
                    <a  title="Color Palette" class="nav-link" href="/colorpalette">Color Palette</a>
                </li>
                <li class="nav-item" >
                  <a  title="Linear Gradient" class="nav-link" href="/lineargradient">Linear Gradient </a>
              </li>
                <li class="nav-item">
                  <a  title="About" class="nav-link" href="/about">About </a>
              </li>
            </ul>
        </div>
    </nav>
