<nav class="d-flex bg-transprant fixed-top" >
    <div class="p-3 mr-auto brandname">FUI kit</div>
    <div class="navbar p-3  text-light">  <a href="/home" class="active"> Home </a></div>
    <div class="navbar p-3 text-light"> <a title="Neumorphism (or) Soft UI" href="/neumorphism">Neumorphism <span class="badge badge-pill badge-success">New</span></a> </div>
    <div class="navbar p-3 text-light"> <a title="Lineargradient" href="/lineargradient">linear-gradient <span class="badge badge-pill badge-success">New</span></a> </div>
    <div class="navbar p-3 text-light">  <a title="Solidcolor" href="solidcolor"> Solid Color </a></div>
    <!-- <div class="p-3 text-light">  <a title="Lineargradient" href="#"> svg Maker </a></div> -->
    <!-- <div class="p-3 text-light"> <a href="#">Flex item 2 </a></div> -->
  </nav>