
<div class="colorPalette" id="test">
    <div class="inner-header flex">
      <div class="container home-banner">
        <!-- <h2 class="bg-dark text-white">color pallete</h2> -->
        <h2 class="headerTitle">color pallete</h2>

        <div class="row">
       <div class="colorFormat">

          <!-- <h3 class="text-dark">colorFormat </h3> linear-gradient(235deg, #fe9f06 25%,#fff 2%,#fe9f06 100%)-->
          <div class="row orientation">

            <div class="row">

              <div class="float-left">
                <h3 class="text-dark">colorFormat </h3>
              </div>
              <div class="float-right">
                <div class="btn-group btn-group-toggle text-light" id="colorFormatBtnGroup" data-toggle="buttons">
                  <label class="btn btn-dark">
                    <input type="radio"  name="colorFormat" onclick="handleClick(this);" id="rgb" autocomplete="off" value="rgb" >RGB
                  </label>
                  <label class="btn btn-dark active">
                    <input type="radio"  name="colorFormat" onclick="handleClick(this);" id="hex" autocomplete="off" value="hex">HEX
                  </label>
                  <label class="btn btn-dark">
                    <input type="radio"  name="colorFormat" onclick="handleClick(this);" id="rgba" autocomplete="off" value="rgba"> RGBA
                  </label>
                </div>
              </div>
            </div>
           
          </div>
          <!-- <div>Selected directions  <span id="selectedVal"></span></div> -->
        
        </div> 


        <div class="showQuote">
          <div class="grid grid1" onclick="CopyColorToClipboard(this)">
            <section class="grid1ColorCode"></section>
          </div>
          <div class="grid grid2" onclick="CopyColorToClipboard(this)">
            <section class="grid2ColorCode"></section>
          </div>
          <div class="grid grid3" onclick="CopyColorToClipboard(this)">
            <section class="grid3ColorCode"></section>
          </div>
          <div class="grid grid4" onclick="CopyColorToClipboard(this)">
            <section class="grid4ColorCode"></section>
          </div>
        </div>
        <button class="btn btn-dark" onclick="getTheme()">genarate</button>
        <button class="btn btn-dark" onclick="customPalette()">customPalette</button>

       
        <!-- <div class="color-picker"></div> -->
        </div>
        <div class="row">
          <div class="col-sm-8"></div>
          <div class="col-sm-4">
            <div class="card-deck" id="customPalette">
            </div>
          </div>
        </div>
        <br>
        <h2 class="bg-dark text-white">Social Media Colors</h2>
        <!-- ejs for each -->
        <div class="card-group socialPalette">
      
      </div>
      <div style="display: none;">
        <canvas width="1280px" height="650px" id="colorPalette"></canvas>
      </div>
      </div>
    </div>
  </div>
  <script src="/js/colorPalette.js"></script>


 

 