<!DOCTYPE html>
<html lang="en">
<%- include('partials/header') -%>
<body>
    <%- include('partials/navbar') -%>
    <div style="z-index:10000;position:Fixed;height:100vh;" id="loadingDiv">
        <img loading="eager" src="/images/loader.png" class="loader" alt="loader"/>
    </div>
        <div class="toasterBst">
            <div class="alert alert-light text-primary shadow border-primary alert-dismissible fade show" id="myAlert">
                <button type="button" class="close" >&times;</button>
                <strong class="color-code"> </strong> Copied !!
              </div>
        </div>
        <a href="https://www.buymeacoffee.com/karthikraji" target="_blank"><img src="https://cdn.buymeacoffee.com/buttons/v2/default-yellow.png" alt="Buy Me A Coffee" loading="eager" style="position: fixed;bottom: 10%;right: 0%;z-index: 999999;height: 50px !important;width: 150px !important;" ></a>
    <%- body %>
    <%- include('partials/footer') -%>
</body>
</html>