.box-wrapper {
  height: 65vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.position-wrapper {
    position: relative;
    min-height: 65vh;
}
.position-wrapper .top-left {
    position: absolute;
    top:0;
    left:0;
    cursor:pointer;
}
.position-wrapper .active {
  width: 2rem;
  height: 2rem;
  background: black;
  border-radius: 2rem;
}
.position-wrapper .top-left .fa{
  transform: rotate(135deg);
}
.position-wrapper .top-right .fa{
  transform: rotate(225deg);
}
.position-wrapper .bottom-left .fa{
  transform: rotate(45deg);
}
.position-wrapper .bottom-right .fa{
  transform: rotate(315deg);
}
.position-wrapper .top-right{
    position: absolute;
    top:0;
    right:0;
    cursor:pointer;
}
.position-wrapper .bottom-right {
    position: absolute;
    bottom:0;
    right:0;
    cursor:pointer;
}
.position-wrapper .bottom-left {
    position: absolute;
    bottom:0;
    left:0;
    cursor:pointer;
}
.control-box {
  min-height: 30vh;
  /* height:40rem; */
  margin: 0;
  border:1px solid #fff;
  text-align: left;
}
input[type="range"] {
    width: 100%;
}
input[type="range"]:hover {
 cursor: pointer;
}
.box {
    /* background: #fff; */
    align-self: center;
}
label {
    font-weight: bold;
}
#bgColorOne {
    height: 2rem;
    width: 2rem;
    border:1px solid #fff;
}
.copy-css {
  text-align: left;
  white-space: pre;
  background: #212121;
  color: #FFF;
  padding:.5rem;
  overflow-x: auto;
}


 