@import url(//fonts.googleapis.com/css?family=Lato:300:400);
:root {
  --text-color-white: #ffffff;
  --red: #d64041;
  --bg-primary-pattern-one: #fff;
  --bg-primary-pattern-two: #bfc8d4bd;

}
.transition{
  transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
}
h2 {
  text-transform: capitalize;
}
.text-warning {
  color: #166ff5!important;
}
.navbar-light .navbar-nav .nav-link {
  color: #4169a5;
}
html {
  scroll-behavior: smooth;
  /* font-size: 62.5%;  */
}

body {
  font-family: "Roboto", "Lato", sans-serif;
  line-height: 1.5;
  margin: 0;
  scroll-behavior: smooth;
  overflow-x: hidden;
  font-weight: 400;
}

h1 {
  font-family: "Roboto", "Lato", sans-serif;
  font-weight: 300;
  letter-spacing: 2px;
  font-size: 48px;
}
a {
  font-weight: 500;
  color: #fff;
}
a:hover {
  text-decoration: none;
  color: #fff;
}
.btn:hover{
  cursor:pointer !important;
}
p {
  font-family: "Lato", sans-serif;
  letter-spacing: 1px;
  font-size: 14px;
  color: #333333;
}

.header {
  position: relative;
  text-align: center;
  background: linear-gradient(90deg, #ff9d00 0%, #f9a826 100%);
  color: white;
}

.header-lineargradient,.header-neumorphism{
  position: relative;
  text-align: center;
  background: var(--bg-primary-pattern-two);

  color: white;
}
.header-colorpalette{
  background: var(--bg-primary-pattern-one);
}

nav {
  background:  #fff;
}

.d-flex.bg-transprant {
  font-weight: 600;
}
.inner-header {
  min-height: 65vh;
  width: 100%;
  padding: 0;
}
.header .inner-header:first-child ,
.colorPalette .inner-header,
.neumorphism .inner-header,
.about .inner-header,
.linearGradient .inner-header{
  margin-top: 3rem;
}
.header .inner-header:first-child {
  background: var(--bg-primary-pattern-one);
 }
.flex {
  /*Flexbox for containers*/
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.navbar .nav-item:hover:not(.active){
  background: #fff;
  border: none;
  transition: 0.8s;
  cursor: pointer !important; 
}
.navbar .nav-item.active {
/*   background: #fff; */
  border: none;
  border-bottom: 3px solid blue;
  transition: 0.8s;
  cursor: pointer !important; 
}
.waves {
  position: relative;
  width: 100%;
  height: 15vh;
  margin-bottom: -7px;
  /*Fix for safari gap*/
  min-height: 100px;
  max-height: 150px;
}
.content {
  position: relative;
  height: 20vh;
  text-align: center;
  background-color: white;
}

.home-banner {
  z-index: 1;
  background-color: rgb(255, 255, 255);
  margin: 3rem 0;
  padding: 3rem;
/*   border: 1.5rem solid #454545; */
  border-radius: 1rem;
}

.home-banner .left-wrapper h2.title {
  text-align: left;
  font-weight: bolder;
  color: #454545;
}
.home-banner .left-wrapper p {
  font-weight: bolder;
  color: #454545;
  text-align: left;
}
.home-banner .left-wrapper .lets-go-button {
  font-weight: bolder;
  color: rgb(255, 255, 255);
  background-color: #454545;
  float: left;
}
h2.headerTitle{
  margin-bottom: 1rem;
  text-transform: capitalize;
  text-align: left;
  padding: 1rem;
  /* background: #b7b7b791; */
  border-radius: 1rem;
  /* text-decoration: underline; */
  color: #000;
}
h2.headerTitle::after {
  content: '';
  margin-top: .1rem;
  display: block;
  width: 10%;
  height: 3px;
  background: blue;
}
/* Animation */
.parallax > use {
  animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}


.colorFormat {
  margin: 0 auto;
  width: 80%;
  padding: 1vh 0px;
  text-align: center;
  color: rgb(0, 0, 0);
}

.socialPalette.card-group .card:hover {
  transition: 0.3s all;
  cursor: pointer !important;
}

.socialPalette.card-group .card .card-text{
  color:#fff;
  text-align: center;
  font-weight: bold;
}

footer {
  /* background-color: #454545; */
  /* background-color: #2221aae6; */
  background-color: #0049b6;
  /* background-color: rgb(40, 40, 233); */
  color: white;
}
.page-footer .footer-links {
  text-align: right;
}

@media screen and (max-width: 767px) {
  .page-footer .footer-child {
    text-align: center;
  }
}


.colorPalette,.neumorphism,.linearGradient,.about{ 
  background: var(--bg-primary-pattern-one);
}


.linearGradientInnerContainer {
  height: 30vh;
}

.social .fa,.social-about .fa{
padding: 1rem;
font-size: 1rem;
/* width: 1.5rem;
height: 1.5rem; */
text-align: center;
text-decoration: none;
margin: 5px 2px;
border-radius:50%;
/* border:3px solid #ccc; */
/* box-shadow: 1px 9px 9px #150c3f, inset 2px 10px 10px rgb(149, 149, 153); */
 /* background:rgb(78, 78, 78);  */
 background:#166ff5;
 /* background:#2221aae6;  */
}
.social-about .fa{
 background:rgb(255, 255, 255); 

}


.social .fa:hover ,.social-about .fa:hover {
  cursor: pointer !important; 
transition:.7s;
transform: scale(.91); 
/* box-shadow: 1px 9px 9px #231b1b, inset 2px 10px 10px rgb(146, 145, 145); */
/* box-shadow: 1px 9px 9px #231b1b, inset 2px 10px 10px rgb(68, 54, 211); */
}
.social-about .fa:hover{
  box-shadow: 1px 3px 3px #231b1b, inset 2px 6px 6px rgb(128, 128, 128);
}


.fa-google {
color: #dd4b39;
background: white;
}

.fa-linkedin {
/* color: #007bb5; */
color: #fff;
background: white;
}
.social-about .fa-codepen,
.social-about .fa-envelope-o,
.social-about .fa-github {
color: #383838;
background: white;
}

.showQuote{
  display: none;
}

  .google {
  background-color: #dd4b39;
  color: white;
  }
  .fa-instagram{
    background: white;
    /* color: #fe4164; */
    color: #fff;
  }
  .linkedin {
  background-color: #007bb5;
  color: white;
  }
  
  
  /* The overlay effect (full height and width) - lays on top of the container and over the image */
  .card-footer .overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 20%;
  width: 100%;
  opacity: 0;
  transition: .3s ease;
  background-color: rgba(0, 0, 0, 0.527);
}



/* When you mouse over the container, fade in the overlay icon*/
.card:hover .overlay {
  opacity: 1;
}

/* The icon inside the overlay is positioned in the middle vertically and horizontally */
.icon {
  color: white !important;
  font-size: 2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

/* When you move the mouse over the icon, change color */
.fa-download:hover {
  color: #eee;
}
.modal-body {
  overflow-x: auto;
}
::selection {
  background-color: lightblue;
  color:black;
}

#copy {
  position: relative;
  box-sizing: border-box;
  background-color: #166ff5;
  color: #ffffff;
  font-size: 1rem;
  font-weight: 500;
  padding: .6rem;
  border: 0;
  z-index: 99;
  border-radius: 5px;
  outline: none;
  cursor: pointer !important; 
  user-select: none;
  box-shadow: 0px 7px 12px #caced1, 0px -7px 12px #ffffff;
}
#copy:before {
  content: "";
  width: 16px;
  height: 16px;
  bottom: -20px;
  left: 22px;
  clip-path: polygon(50% 40%, 0% 100%, 100% 100%);
}
#copy:after {
  content: attr(tooltip);
  width: 140px;
  bottom: -48px;
  left: 20px;
  padding: 5px;
  border-radius: 4px;
  font-size: 0.8rem;
}
#copy:before, #copy:after {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  box-sizing: border-box;
  background-color: #000000;
  color: #ffffff;
  transform: translateY(-10px);
  transition: all 300ms ease;
}

#copy:hover:before, #copy:hover:after {
  opacity: 1;
  transform: translateY(0);
  
}
.copycss {
  text-align: left;
  white-space: pre;
}
/* .modal-body{
  background-color: rgb(41, 41, 41);

} */

#randomPaletteGenarator .card-body h6 ,
.custom.card-body h6{
  color:#fff;
  padding:1rem;
  margin: 0 !important;
  cursor: pointer !important; 
  
}
#randomPaletteGenarator,
.colorSchemeSelection {
  display: none;
}
#directionBtnGroup .fa {
  transform: rotate(45deg);
}
.custom .layer1{
  /* background: rgba(143, 142, 142, 0.7); */
  background: #8f8e8e;
}
.custom .layer2{
  /* background: rgba(168, 168, 168, 0.8); */
  background: #a8a8a8;

}
.custom .layer3{
  /* background: rgb(206, 206, 206); */
  background: #cecece

}
.custom .layer4{
  background: #e0e0e0;

}
h6 figcaption,
#randomPaletteGenarator h6 figcaption,
#customPaletteGenarator h6 figcaption{
  background: rgba(51, 51, 51, 0.233);
  opacity: 0;
  padding: 0 10px;
  cursor: pointer !important; 

}
#randomPaletteGenarator h6 figcaption,
#customPaletteGenarator h6 figcaption
 {
  width: fit-content;
  margin: auto;
  opacity: 1;
}
.card-body.custom h6:hover figcaption {
  opacity: 1;
}
.customColorPalette .card {
  box-shadow: 0 .75rem 1.5rem rgba(255,255,255,.25), 0 .75rem 1.5rem rgba(0,0,0,.25)!important;

}
.customColorPalette .card:hover {
  cursor: pointer !important;
  transition: all 300ms ease;
  box-shadow: 0 .3rem .6rem rgba(255,255,255,.15), 5px .3rem .6rem rgba(0,0,0,.15)!important;
} 


.df-switch {
  /* margin-top: 2rem; */
  padding: 2rem 2rem 1rem;
  text-align: center;
}

.btn-toggle {
  top: 50%;
  transform: translateY(-50%);
  margin: 0 4rem;
  padding: 0;
  position: relative;
  border: none;
  height: 1.5rem;
  width: 5rem;
  border-radius: 1.5rem;
  color: #6b7381;
  background: #474747;
}
.btn-toggle:focus,
.btn-toggle.focus,
.btn-toggle:focus.active,
.btn-toggle.focus.active {
  outline: none;
}
.btn-toggle:before,
.btn-toggle:after {
  line-height: 1.5rem;
  width: 4rem;
  text-align: center;
  font-weight: 600;
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: absolute;
  bottom: 0;
  transition: opacity 0.25s;
}
.btn-toggle:before {
  content: 'CUSTOM';
  left: -5rem;
  color: #0c0c0c;
}

.btn-toggle:after {
  content: 'random';
  right: -5rem;
  opacity: 0.5;
  color: #166ff5;
}
.btn-toggle > .inner-handle {
  border-radius: 13px;
  width: 65px;
  height: 13px;
  position: absolute;
  top: 6px;
  left: 8px;
  background-color: #474747;
  box-shadow: inset 1px 1px 2px -1px black;
}
.btn-toggle.active > .inner-handle {
  background-color: #31b0eb;
}
.btn-toggle > .handle:before {
  content: "";
  position: absolute;
  height: 34px;
  width: 34px;
  top: 35%;
  left: 11px;
  background-image: radial-gradient(circle at center, #474747 5px, transparent 5px);
  background-size: 10px 10px;
  background-repeat: no-repeat;
}
.btn-toggle.active > .handle:before {
  background-image: radial-gradient(circle at center, #166ff5 5px, transparent 5px);
}
.btn-toggle > .handle {
  position: absolute;
  top: -0.2875rem;
  left: 0.3875rem;
  width: 2.125rem;
  height: 2.125rem;
  border-radius: 1.125rem;
  background: #fff;
  transition: left 0.25s;
  border: 1px solid #ccc;
}
.btn-toggle.active {
  transition: background-color 0.25s;
}

.btn-toggle.active > .handle {
  left: 2.4175rem;
  transition: left 0.25s;
}

.btn-toggle.active:before {
  opacity: 0.5;
}

.btn-toggle.active:after {
  opacity: 1;
  color: #166ff5;
}

.btn-toggle.active {
  background-color: #166ff5;
}
.fixed-middle-right{
  position: fixed;
  right: 0;
  top: 50%;
  transform: translate(0,-50%);
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
 
  .box-wrapper {
    height: 50vh;
  }
.display-4{
font-size: 2rem ;
}
  .btn-toggle {
  width: 3rem;
  }
  .df-switch {
    /* margin: 2rem 0; */
    padding-top: 1rem;
  }
  .btn-toggle > .inner-handle {
       border-radius: 13px;
    width: 31px;
    height: 13px;
    position: absolute;
    top: 6px;
    left: 8px;
    background-color: #474747;
    box-shadow: inset 1px 1px 2px -1px black;
  }
  .btn-toggle.active > .handle {
    left: 1.4175rem;
    transition: left 0.25s;
  }
.btn-toggle > .handle {
  top: 0.36rem;
  left: 0.3875rem;
  width: 1rem;
  height: 1rem;
  }
  .btn-toggle > .handle:before {
    content: "";
    position: absolute;
    height: 34px;
    width: 34px;
    top: 10%;
    left: 10%;
    background-image: radial-gradient(circle at center, #474747 5px, transparent 5px);
    background-size: 10px 10px;
    background-repeat: no-repeat;
}
.inner-header {
  min-height: 65vh;
  width: 100%;
  padding: 0;
}
.header .inner-header:first-child ,
.colorPalette .inner-header,
.neumorphism .inner-header,
.linearGradient .inner-header{
  margin-top: 3rem;
}

.home-banner {
  margin: 2rem;
  padding: 3rem;
  /* border: 1.25rem solid #454545;
  border-radius: 2rem; */
}
  .waves {
    height: 40px;
    min-height: 40px;
  }
  .content {
    height: 30vh;
  }
  h1 {
    font-size: 24px;
  }
  .loader {
    height: 40vh;
    width: 40vh;
  }
  .navbar-light .navbar-nav .nav-link {
    color: #166ff5;
}
h2.headerTitle{
  margin-bottom: 1.5rem;
  padding: 1rem;
}
}
/* #content-desktop {display: block;} */
#content-mobile {display: none;}

@media screen and (max-width: 768px) {
#content-desktop {display: none;}
#content-mobile {display: block;}

}
#gotoTop {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  width: 3rem;
  height: 3rem;
  z-index: 99;
  font-size: 1.5rem;
  border: none;
  outline: none;
  color: white;
  background-color: rgb(37, 37, 37);
  cursor: pointer !important; 
  padding: .5rem;
  border-radius: 50%;
  -webkit-animation: upNdown 2s infinite linear;
  animation: upNdown 2s infinite linear;
}

#gotoTop:hover {
  color: white;
  background-color: rgb(95, 95, 95);
}
.about_{
  text-transform: capitalize;
}
.about_logo {
  -webkit-animation: upNdown 2s infinite linear;
  animation: upNdown 2s infinite linear;
}
.fa.fa-angle-double-up {
  -webkit-animation: upNdown 2s infinite linear;
  animation: upNdown 2s infinite linear;
}

@-webkit-keyframes upNdown {
   0% { }
   50% { transform: translateY(-10px); }
   100% { }
}
@keyframes upNdown {
   0% { }
   50% { transform: translateY(-10px); }
   100% { }
}

.loader,
.loader:after {
    width: 70vh;
    height: 50vh; 
}
.loader {   
    margin: 1rem auto;
    top:23%;
    left:40%;
    position: absolute;
    transform: translate(-33%);
    font-size: 10px;
    text-indent: -9999em;
    border-top: 1.1em solid rgba(255, 255, 255, 0.2);
    border-right: 1.1em solid rgb(255, 255, 255);
    border-bottom: 1.1em solid rgba(245, 245, 245, 0.2);
    border-left: 1.1em solid #ffffff;
    -webkit-animation: upNdown 2s infinite linear;
    animation: upNdown 2s infinite linear;
    
}

#loadingDiv {
    z-index:10000;
    position:Fixed;
    height:100vh;
    position:absolute;;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:rgba(46, 46, 46, 0.9);
}
[title="likes"]{
  font-weight: 500;
  font-size: .8rem;
}
.toasterBst{
  position: fixed;
  top: 10%;
  right: 0;
  z-index: 999999;
  display: none;
}
.toasterBst .text-primary ,
.toasterBst .border-primary{
  color: #0049b6 !important;
}
.display-4 {
  font-size: 2.5rem;
  font-weight: 400;
}