<script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.2.1/html2canvas.js"></script>
<link rel="stylesheet" href="/css/neumorphism.css">
<div class="neumorphism">
    <div class="inner-header flex">
        <div class="container home-banner shadow-lg">
            <div style="display: none;">
                <div width="1280px" height="1080px" id="downloadImg"></div>
            </div>
        <h2 class="headerTitle">Pattern </h2>
        <div class="container" id="content-wrapper">
            <div class="wrpper-grid">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="control-box">   
                            <form>
                               
                                <div class="form-group row">
                                    <label for="sizeRange" class="col-4 col-form-label">Background Color </label>
                                    <div class="col-2">
                                      <div class="color-picker"></div>
                                    </div>
                                    <div class="col-6">
                                        <input type="text" id="colorCodeInHex" class="form-control" value="#ffffff" >
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="sizeRange" class="col-4 col-form-label">Foreground Color </label>
                                    <div class="col-2">
                                      <div class="color-picker2"></div>
                                    </div>
                                    <div class="col-6">
                                        <input type="text" id="fgColorCodeInHex" class="form-control" value="#0848D4" >
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="sizeRange" class="col-4 col-form-label">Stoke Color </label>
                                    <div class="col-2">
                                      <div class="color-picker3"></div>
                                    </div>
                                    <div class="col-6">
                                        <input type="text" id="strokeColorCodeInHex" class="form-control" value="#DBDBDB">
                                    </div>
                                </div>
                     
                                <!-- sizeRange -->
                                <div class="form-group row">
                                    <label for="zoomRange" class="col-2 col-form-label">Zoom </label>
                                    <div class=" col-8">
                                     <input type="range" min="5" max="18" value="5" id="zoomRange">
                                    </div>
                                    <div class="col-1">
                                        <span id="zoomRangeValue"></span><span>px</span>
                                    </div>
                                </div>
                                <!-- angleRange -->
                                <div class="form-group row">
                                    <label for="angleRange" class="col-2 col-form-label">Angle </label>
                                    <div class=" col-8">
                                       <input type="range" min="0" max="180" value="0" id="angleRange">
                                    </div>
                                    <div class="col-1">
                                        <span id="angleRangeValue"></span><span>Deg</span>
                                    </div>
                                </div>
                                <!-- heightRange -->
                                <div class="form-group row">
                                    <label for="heightRange" class="col-2 col-form-label">Height</label>
                                    <div class=" col-8">
                                       <input type="range" min="10" max="40" value="15" id="heightRange">
                                    </div>
                                    <div class="col-1">
                                        <span id="heightRangeValue"></span><span>px</span>
                                    </div>
                                </div>
                                <!-- widthRange -->
                                <div class="form-group row">
                                    <label for="widthRange" class="col-2 col-form-label">Width</label>
                                    <div class=" col-8">
                                       <input type="range" min="10" max="40" value="15" id="widthRange">
                                    </div>
                                    <div class="col-1">
                                        <span id="widthRangeValue"></span><span>px</span>
                                    </div>
                                </div>
                                <!--strokeRange -->
                                <div class="form-group row">
                                    <label for="radiusRange" class="col-2 col-form-label">stroke:</label>
                                    <div class=" col-8">
                                       <input type="range" min="0" max="10" value="1" id="strokeRange">
                                    </div>
                                    <div class="col-1">
                                        <span id="strokeRangeValue"></span><span></span>
                                    </div>
                                </div>
                                 <!--Random -->
                                 <div class="form-group row">
                                     <div class="col-sm-6">
                                        <label for="radiusRange" class="col-2 col-form-label">Random </label>
                                        <div class="col-4">
                                       <button class="btn btn-dark text-light" type="button" id="random" >
                                        <svg viewBox="0 0 32 32"
                                        style="height: 1.5rem;" aria-hidden="true"
                                        stroke-linecap="round" stroke-linejoin="round" stroke-width="0.125em" >
                                            <path fill="currentcolor" fill-rule="nonzero" stroke="none" stroke-width="1" d="M7.38 5.555l15.592-1.367A3.419 3.419 0 0126.673 7.3L28.05 23.06a3.422 3.422 0 01-3.106 3.71L9.352 28.137a3.419 3.419 0 01-3.702-3.113L4.275 9.265a3.422 3.422 0 013.106-3.71zm.2 2.274a1.14 1.14 0 00-1.036 1.237l1.375 15.759a1.14 1.14 0 001.234 1.038l15.591-1.368a1.14 1.14 0 001.036-1.236l-1.376-15.76a1.14 1.14 0 00-1.234-1.037L7.58 7.829zm3.254 5.39a1.69 1.69 0 01-1.825-1.545 1.692 1.692 0 011.53-1.84 1.69 1.69 0 011.825 1.546 1.692 1.692 0 01-1.53 1.839zm10.065-.883a1.69 1.69 0 01-1.826-1.545 1.692 1.692 0 011.53-1.84 1.69 1.69 0 011.825 1.546 1.692 1.692 0 01-1.53 1.84zM11.72 23.373a1.69 1.69 0 01-1.825-1.545 1.692 1.692 0 011.53-1.84 1.69 1.69 0 011.825 1.545 1.692 1.692 0 01-1.53 1.84zm10.065-.883a1.69 1.69 0 01-1.825-1.545 1.692 1.692 0 011.53-1.84 1.69 1.69 0 011.825 1.546 1.692 1.692 0 01-1.53 1.84zm-5.476-4.635a1.69 1.69 0 01-1.825-1.546 1.692 1.692 0 011.53-1.839 1.69 1.69 0 011.825 1.545 1.692 1.692 0 01-1.53 1.84zM29.183 6.823l-.015.002A.915.915 0 0128.167 6c-.265-2.544-2.523-4.39-5.045-4.121h-.007a.916.916 0 01-1.002-.824.922.922 0 01.808-1.018h.002l.007-.001a6.387 6.387 0 014.718 1.408 6.498 6.498 0 012.347 4.363.922.922 0 01-.812 1.016zM8.547 32h-.008a6.395 6.395 0 01-4.578-1.818 6.51 6.51 0 01-1.96-4.553.92.92 0 01.895-.942h.016c.503-.008.917.4.926.91.044 2.559 2.134 4.595 4.67 4.55h.006a.918.918 0 01.927.91.92.92 0 01-.894.943z"></path></svg>
                                    </button>
                                     </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <label for="radiusRange" class="col-2 col-form-label">Types </label>
                                        <div class="col-4">
                                       <button class="btn btn-dark" type="button" id="shapeType" >Square</button>
                                        </div>
                                     </div>
                                </div>
                       
                            <div class="form-group row">
                                <div class="col-12">
                                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" onclick="addcopycss()">
                                        Get Css <i class="fa fa-css3"> </i>
                                       </button>
                                       <button type="button" class="btn btn-dark" title="Download as Image" id="downloadAsJpg">
                                        <i class="fa fa-download"></i>
                                </div>
                            </div>
                            </form>
                        </div>
                      
                    </div>
                    <div class="col-sm-6">
                        <div class="position-wrapper shadow-lg">
                            <div class="box-wrapper">
                                <div class="box">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
          </div>
         
        </div>
    </div>
</div>


<div class="modal fade " id="myModal">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content ">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Css Styles</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body bg-dark text-light">
          <!-- <code> -->
            <pre class="copy-css" tooltip="Copy to clipboard">
            </pre>
          <!-- </code> -->
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
          <button id="copy">
            copy
            <!-- <i class="fa fa-copy"></i> -->
        </button>
          <!-- <button type="button" class="btn btn-secondary"  data-dismiss="modal" >Close</button> -->
        </div>
        
      </div>
    </div>
  </div>
    
<script>
    $(document).ready(function(){
        $('#BgPatternColorOne').colorpicker({color:'#626262'});
    }); 
</script>
<script src="/js/bgPattern.js"></script>

