<link rel="stylesheet" href="/css/neumorphism.css">
<div class="my-3">

</div>
<div class="container" id="content-wrapper">
  <div class="wrpper-grid">
      <button onclick="toggleInset()">toggle</button>
      <div class="row">
          <div class="col-sm-6">
              <div class="position-wrapper">
                  <div class="top-right" onclick="changePositionTo('135deg')"> top-right</div>
                  <div class="top-left" onclick="changePositionTo('225deg')">left</div>
                  <div class="bottom-right" onclick="changePositionTo('315deg')">bottom</div>
                  <div class="bottom-left" onclick="changePositionTo('45deg')">left</div>
                  <div class="box-wrapper">
                      <div class="box">
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-sm-6">
              <div class="control-box">
                  <form>
                      <div class="form-group row">
                          <label for="sizeRange" class="col-4 col-form-label">Pick a Color :</label>
                          <div class="col-2">
                            <div class="color-picker"></div>
                              <input id="bgColorOne"  onchange="changeBgColor(this.value)">
                              <!-- <div id="bgColorOne" onchange="changeBgColor(this.value)" > </div> -->
                          </div>
                          <div class="col-6">
                              <input type="text" id="colorCodeInHex" class="form-control" value="#292892" onchange="changeBgColor(this.value)">
                          </div>
                      </div>
                  
                      <!-- sizeRange -->
                      <div class="form-group row">
                          <label for="sizeRange" class="col-3 col-form-label">Size :</label>
                          <div class="col-7">
                           <input type="range" min="10" max="410" value="300" id="sizeRange">
                          </div>
                          <div class="col-1">
                              <span id="sizeRangeValue"></span><span>px</span>
                          </div>
                      </div>
                      <!-- radiusRange -->
                      <div class="form-group row">
                          <label for="radiusRange" class="col-3 col-form-label">Radius :</label>
                          <div class="col-7">
                             <input type="range" min="10" max="205" value="50" id="radiusRange">
                          </div>
                          <div class="col-1">
                              <span id="radiusRangeValue"></span><span>px</span>
                          </div>
                      </div>
                      <!-- radiusRange -->
                      <div class="form-group row">
                          <label for="distanceRange" class="col-3 col-form-label">Distance :</label>
                          <div class="col-7">
                             <input type="range" min="5" max="50" value="25" id="distanceRange">
                          </div>
                          <div class="col-1">
                              <span id="distanceRangeValue"></span><span>px</span>
                          </div>
                      </div>
                      <!-- blurRange -->
                      <div class="form-group row">
                          <label for="blurRange" class="col-3 col-form-label">Blur :</label>
                          <div class="col-7">
                             <input type="range" min="10" max="100" value="60" id="blurRange">
                          </div>
                          <div class="col-1">
                              <span id="blurRangeValue"></span><span>px</span>
                          </div>
                      </div>
                      <!--intensityRange -->
                      <div class="form-group row">
                          <label for="radiusRange" class="col-3 col-form-label">intensity :</label>
                          <div class="col-7">
                             <input type="range" min="1" max="6" value="3" id="intensityRange">
                          </div>
                          <div class="col-1">
                              <span id="intensityRangeValue"></span><span>px</span>
                          </div>
                      </div>
                  </form>
                  <a href="javascript:void(0)" data-toggle="tooltip"  title="click To Get Css!">
                      <div class="copy-css" onclick="CopyColorToClipboard(this)">
                      </div>
                  </a>
              </div>
          </div>
      </div>
  </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-colorpicker/2.5.3/js/bootstrap-colorpicker.js"></script>
<script src="/js/neumorphism.js"></script>
<script>
    $(document).ready(function(){
        $('#bgColorOne').colorpicker({color:'#292892'});
    }); 
</script>

