<div class="about">
  <div class="inner-header flex">
    <div class="container home-banner shadow">
      <h2 class="headerTitle">About</h2>
      <div class="row text-left">
     
          <img src="/images/Ui_Generator_Kit_logo.png" class="mx-auto d-block my-3 about_logo" alt="ui-Generator-Kit">
        <div class="col-12-6">
          <div class="about_">
            <h2 class="">Hope you are <b class="text-muted">loving ui-Generator-Kit</b></h2>
            <p class="lead ">
              UiGenaratorKit is multi-featured application  that helps designers and developers to choose  (copy css code) or download their own <b>color palettes</b> , <b>linear-gradient</b> as <b>Images</b> as well and soft-ui Genarator (latest ui-design pattern ) for their next successful project.
               It has a collection of fresh palettes created and liked by users everyday.
            </p>
            <h2 class="about__Head">How to use the app</h2>
            <div class="table-responsive">
            <table class="table table-striped table-hover">
              <thead class="thead-dark">
                <tr>
                  <th>Neumorphism</th>
                  <th>Color Palette</th>
                  <th>Linear Gradient</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td> 1)  move the range slider to get your soft ui
                    <br /> 2) Click on colors to copy color code</td>
                  <td> 1)  Browse and search for a palette<br /> 2) Hover over the palette for
                    color code<br /> 3) Click on colors to copy color code</td>
                  <td>1)   Browse and search for a palette<br />2) Hover over the palette for
                    color code<br /> 3) Click on colors to copy color code</td>
                </tr>
              
              </tbody>
            </table>
          </div>
            <h2 class="about__Head">Meet the developer</h2>
            <h4 class="about__Desc text-muted my-2">
              Karthik Raji
            </4>
            <div class="social">
              <a href="https://www.linkedin.com/in/karthik-r-a70001194" title="linkedin" target="_blank">
                <i class="fa fa-linkedin" aria-hidden="true"></i>
              </a>
              <a  href="mailto:karthikr2022@gmail.com" title="Gmail" target="_blank">
                <i class="fa fa-envelope-o" aria-hidden="true"></i>
              </a>
              <a  href="https://github.com/karthikraji2020" title="github" target="_blank">
                <i class="fa fa-github" aria-hidden="true"></i>
              </a>
              <a href="https://codepen.io/karthikraji2020" title="codepen" target="_blank">
                <i class="fa fa-codepen" aria-hidden="true"></i>
              </a>
              <a href="https://www.instagram.com/karthik__raji" title="instagram" target="_blank">
                <i class="fa fa-instagram" aria-hidden="true"></i>
              </a>
            </div>
            <h6  class="about_ text-center"> UiGenaratorKit © <span class="footer-year"></span>  All Rights Reserved</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
