<div class="about">
  <div class="inner-header flex">
    <div class="container home-banner">
      <h2 class="headerTitle">About</h2>
      <div class="row text-left">
        <!-- <div class="col-sm-6">
          <h3 class="text-dark text-left">colorFormat</h3>
        </div> -->
        <div class="col-12-6">
          <div class="about_">
           
            <h2 class="">Hope you are loving ui-Generator-Kit</h2>
            <p class="lead ">
              ui-Generator-Kit is an app that helps designers and developers to choose
              color palettes for their next successful project. It has a
              collection of fresh palettes created by people everyday.<br />Just
              browse some palettes and make your project colorful.
            </p>
            <h2 class="about__Head">How to use the app</h2>
            <table class="table table-bordered table-striped table-hover">
              <thead class="thead-dark">
                <tr>
                  <th>Neumorphism</th>
                  <th>color palette</th>
                  <th>Linear Gradient</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>  Browse and search for a palette<br />Hover over the palette for
                    color code<br />Click on colors to copy color code</td>
                  <td>  Browse and search for a palette<br />Hover over the palette for
                    color code<br />Click on colors to copy color code</td>
                  <td>  Browse and search for a palette<br />Hover over the palette for
                    color code<br />Click on colors to copy color code</td>
                </tr>
              
              </tbody>
            </table>
            <h2 class="about__Head">Meet the developer</h2>
            <h4 class="about__Desc" style="margin-bottom: 0.5rem;">
              Karthik Raji
            </4>
            <div class="social">
              <a href="https://www.linkedin.com/in/karthik-r-a70001194" target="_blank">
                <i class="fa fa-linkedin" aria-hidden="true"></i>
              </a>
              <a  href="mailto:karthikraji2020@gmail.com" target="_blank">
                <i class="fa fa-google" aria-hidden="true"></i>
              </a>
              <a href="https://github.com/karthikraji2020" target="_blank">
                <i class="fa fa-github" aria-hidden="true"></i>
              </a>
              <a href="https://codepen.io/karthikraji2020" target="_blank">
                <i class="fa fa-codepen" aria-hidden="true"></i>
              </a>
            </div>
            <h2  class="about__Head"> copy rights © ui-Generator-Kit 2020</h2>
            <!-- <p class="about__Desc">Made with Javascript &amp; </p> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
