<div class="about">
  <div class="inner-header flex">
    <div class="container home-banner shadow">
      <h2 class="headerTitle"> <i class="fa fa-image text-primary"> </i> image optimizer</h2>
      <div class="row text-left">


        <form method="post" action="/preview" enctype="multipart/form-data">
          <input type="file" class="btn btn-primary" name="image"/>
          <br>
          <br>
          <br>
          <br>
          <input type="submit" class="btn btn-dark float-right" value="Upload & preview"/>
      </form>
        
      </div>
    </div>
  </div>
</div>
