<div class="about">
  <div class="inner-header flex">
    <div class="container home-banner shadow">
      <h2 class="headerTitle">preview</h2>
      <div class="row text-left">
        <img width="400" height="400" src="<%= url %>"/>
        <form method="post" action="/compress/uploads/<%=name%>/<%=ext%>">
            <input type="submit" class="btn btn-dark" value="Compress & Download"/>
        </form>
      </div>
    </div>
  </div>
</div>
